@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
	--primary: 217 119 6;
	--poppy: 225 29 72;
	--white: 255 255 255;
	--gray: 228 228 231;
	--gray-100: 244 244 245;
	--secondary: 0 185 208;
	--success: 5 150 105;
  }
}

main {
	min-height: 100vh;
}

.glide__bullet--active {
  background-color: rgb(var(--poppy));
}

.glide__bullet:focus,
.glide__bullet:hover {
  border-color: rgb(var(--poppy));
  background-color: rgb(224 85 56 / 50%);
}

.icon {
	width: 1em;
    height: 1em;
    color: currentColor;
    font-size: inherit;
	fill: currentColor;
}

.tab-content {
  > .tab-pane {
	display: none;
  }
  > .active {
	display: block;
  }
}

.gm-style .gm-style-iw-c {
  overflow: visible !important;
}

.switch {
	position: relative;
	display: flex;
	justify-content: center;
	&.house input {
	  &:checked {
		background-color: rgb(var(--poppy));
	  }
	  
	  &:focus {
		&:before {
			box-shadow: 0 0.125rem 0.125rem rgb(0 0 0 / 0.24),
						0 0 0.25rem 0.125rem rgb(var(--poppy));
		}
	  }
	}
	
	&.apartment input {
	  &:checked {
		background-color: purple;
	  }
  
	  &:focus {
		&:before {
			box-shadow: 0 0.125rem 0.125rem rgb(0 0 0 / 0.24),
						0 0 0.25rem 0.125rem purple;
		}
	  }
	}
	
	&.commercial input {
	  &:checked {
		background-color: rgb(var(--primary));
	  }
	  
	  &:focus {
		&:before {
			box-shadow: 0 0.125rem 0.125rem rgb(0 0 0 / 0.24),
						0 0 0.25rem 0.125rem rgb(var(--primary));
		}
	  }
	}
	
	&.plot input {
	  &:checked {
		background-color: rgb(var(--success));
	  }
	  
	  &:focus {
		&:before {
		  box-shadow: 0 0.125rem 0.125rem rgb(0 0 0 / 0.24),
					  0 0 0.25rem 0.125rem rgb(var(--success));
		}
	  }
	}
  
	input { 
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  width: 2.5rem;
	  height: 1rem;
	  background-color: rgb(var(--white));
	  -webkit-appearance: none;
  
	  &:checked {
		background-color: rgb(var(--primary));
	  }
	  
	  &:focus {
		outline: none;
		&:before {
		  box-shadow: 0 0.125rem 0.125rem rgb(0 0 0 / 0.24);
		}
	  }
	  
	  &:checked:before {
		transform: translateX(1.5rem);
	  }
	  
	  &:before {
		position: absolute;
		content: "";
		height: 1.5rem;
		width: 1.5rem;
		left: -0.25rem;
		bottom: -0.25rem;
		background-color: rgb(var(--white));
		box-shadow: 0 0.125rem 0.125rem 0.125rem rgb(0 0 0 / 0.24);
	  }
  
	  &.rounded-pill {
		margin-top: 0.1875rem;
		border-radius: 0.625rem;
		border: 1px solid rgb(var(--gray));
		&:before {
		  border-radius: 50%;
		}
	  }
	}
  
	.label {
	  display: inline-flex;
	  text-indent: 3rem;
	}
  }

[data-progress] circle {
  transition: stroke-dashoffset 1000ms;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

//Components
[data-categories] {
  [data-toggle=tab].dropdown-item[aria-selected=true] {
	background-color: rgb(var(--gray-100));
	color: rgb(var(--primary));
  }
  .dropdown-menu {
	width: calc(100% - 0.9375rem);
	background-color: transparent;
  }
  .nav-link {
	color: rgb(var(--primary));
	font-weight: 200;
	summary:focus {
	  outline: none;
    }
    &.active {
	  font-weight: 700;
    }
    &:focus {
	  color: #00B9D0;
	  box-shadow: none !important;
    }
  	&:not(.active) .dropdown-menu {
	  display: none !important;
    }
  	span {
	  text-transform: initial;
  	}
  }
  .dropdown-item {
	text-align: left;
	justify-content: start;
  }
}

[data-floorplan] {
  height: 45vw;
  min-height: 13.125rem;
  [data-floor] {
	pointer-events: none;
	opacity: 0;
	height: 110%;
	width: 110%;
	min-width: 26.25rem;
	top: -5%;
	left: -5%;
  	&[data-backgrounder] {
	  background-size: contain;
    }
  	&.active {
	  pointer-events: unset;
	  opacity: 1;
  	  img, 
	  figcaption {
		pointer-events: none;
  	  }
	}
  	figcaption {
	transform: rotateX(58deg) rotateY(1deg) rotateZ(-47deg);
	position: absolute;
	top: 44%;
	left: 0;
	width: 100%;
	font-size: 11vw;
	text-align: center;
	color: white;
	text-shadow: -0.4375rem 0.4375rem 0 black, -0.375rem 0.375rem 0 black, -0.3125rem 0.3125rem 0 black, -0.25rem 0.25rem 0 black, -0.1875rem 0.1875rem 0 black, -0.125rem 0.125rem 0 black, -0.0625rem 0.0625rem 0 black;
    }
  }
  .booth {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
}

[data-infobar] h1 {
  margin-bottom: 0;
  font-weight: 200;
}

[data-search] {
  opacity: 0;
  filter: blur(2px) brightness(0.6);
}

[data-baron], 
[data-baron] .flex {
	color: rgb(var(--white));
  [data-barons] & {
	background-color: rgb(var(--gray-100));
  }
  &.featured [data-backgrounder],
  &.featured figure > div {
	width: 13vw;
	height: 13vw;
	max-width: 11rem;
	max-height: 11rem;
  }
  &.featured [data-backgrounder] .avatar,
  &.featured figure > div .avatar {
	font-size: 1.875rem;
  }
  [data-backgrounder] .avatar,
  figure > div .avatar {
	white-space: nowrap;
	word-break: keep-all;
	color: white;
	font-size: 1rem;
	text-align: center;
	background-color: #00B9D0;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
  }
  .description *:last-child {
	margin-bottom: 0;
  }
}

[data-summary] {
  overflow: hidden;
  filter: blur(10px);
  transform: scale(1.1);
  transition: all 300ms ease-out 1s;
  &, h2, p {
	opacity: 0;
  }
  h2 {
	transition: all 300ms ease-out 1.25s;
	transform: translateX(-1rem);
	filter: blur(3px);
  }
  p {
	transition: all 300ms ease-out 1.5s;
	transform: translateY(1rem);
  }
  figure img {
	width: 22vw;
	height: auto;
	max-width: 16.5625rem;
	min-width: 14.375rem;
  }
  > *:last-child {
	margin-bottom: 0;
  }
}

[data-topbar] {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
}

[data-baron] [data-backgrounder],
[data-baron] figure > div, 
[data-booth] .avatar-wrapper, 
[data-booth] figure:not([data-backgrounder]).feature, 
[data-contact] [data-backgrounder],
[data-contact] figure > div, 
[data-user] .feature .avatar-wrapper, 
.coin {
  width: 6.25vw;
  height: 6.25vw;
  max-width: 7rem;
  max-height: 7rem;
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 100%;
  overflow: hidden;
}

[data-contact] {
  color: rgb(var(--white));
  background-color: rgb(var(--secondary) / 10%);
  &:nth-of-type(even), 
  &:nth-of-type(even) {
	background-color: rgb(var(--secondary) / 30%);
  }
  [data-backgrounder],
  figure > div {
	width: 13vw;
	height: 13vw;
	max-width: 11rem;
	max-height: 11rem;
	min-width: 8.3125rem;
	min-height: 8.3125rem;
	padding: 4rem;
	
    .avatar {
	  white-space: nowrap;
	  word-break: keep-all;
	  color: white;
	  font-size: 2rem;
	  text-align: center;
	  background-color: rgb(var(--secondary));
	  display: flex;
	  height: 100%;
	  align-items: center;
	  justify-content: center;
  	}
  }
  figure > div {
	flex-direction: column;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
  }
  .description *:last-child {
	margin-bottom: 0;
  }
}

body.dashboard [data-baron]:not(.featured) [data-backgrounder] {
	width: 8.25vw;
	height: 8.25vw;
  }
  
  body.profile [data-contact] [data-backgrounder] {
	max-width: 8.3125rem;
	max-height: 8.3125rem;
  }
//Animation
body.loaded {
  [data-search] {
	opacity: 1;
	filter: blur(0) brightness(1);
  }
  [data-summary] {
	transform: scale(1);
  	&, h2, p {
	  filter: blur(0);
	  opacity: 1;
    }
  	h2, p {
	  transform: translateX(0);
	}
  }
}

@media (max-width: 991px) {
  [data-infobar] h1 {
	margin-top: auto;
	margin-bottom: auto;
  }
}

@media (min-width: 992px) {
  [data-baron], 
  [data-contact] {
	&:hover, 
    &:focus {
	  color: rgb(var(--gray));
	  background-color: rgb(var(--secondary) / 60%);
	  cursor: pointer;
	}
  }

  [data-baron] {
  	&.featured [data-backgrounder],
	&.featured figure > div {
	  width: 13vw;
	  height: 13vw;
	  max-width: 11rem;
	  max-height: 11rem;
	  .avatar {
		font-size: 3vw;
	  }
  	}
  }

  [data-contact] .avatar-wrapper .avatar {
	font-size: 3vw;
  }

  [data-backgrounder] .avatar,
  figure > div .avatar {
	font-size: 1vw;
  }
}